/* style.css */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body { /* Apply flex to body to treat container as flex item */
  display: flex;
  flex-flow: column nowrap;
}

#container { /* Set container to have 960px width and height */
  height: 960px;
  width: 960px;
  border: 3px solid red;
  box-sizing: content-box;
  align-self: center;
  display: flex;
  flex-flow: column nowrap; /* Set up row containers */
}

.vert { /* Set row containers to grow to fill their vertical space */
  display: flex;
  flex: 1 0 auto;
}

.hori { /* Set mini divs to grow to fill their horizontal space */
  flex: 1 0 auto;
  align-self: stretch;
}

button {
  align-self: center;
  flex: 1 0 auto;
  margin: 1em;
}